name: lint-and-test

on:
  push:
    branches: [main]
  pull_request:

jobs:
  lint-and-test:
    runs-on: ubuntu-latest
    steps:
      # Setup
      - name: Check out repository
        uses: actions/checkout@v6
      - name: Set up python
        id: setup-python
        uses: actions/setup-python@v5
        with:
          python-version-file: "pyproject.toml"
      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          version: "0.8.17"
      - name: Install the project
        run: uv sync --locked --all-extras --dev

      # Lint
      - name: Run black
        run: uv tool run black --check app/ tests/
      - name: Run isort
        run: uv tool run isort --check --diff app/ tests/
      - name: Run ruff
        run: uv tool run ruff check app/ tests/

      # Test
      - name: Run tests
        run: |
          uv run pytest --cov=app --cov-report=term
